header{
    .navigation{
        &.navigation--top{
            background: #dd271d;
        }
        &.navigation--middle{
            border: none
        }
    }
    .row.desktop__nav{
        background: #cf2727;
    }
}
/*Mobile Header*/
.branding-mobile{
    background: #dd271d;
}
/*End Mobile Header*/