header{
	.navigation{ 
		&.navigation--bottom{
		
			background: #cf2727 none repeat scroll 0 0;
			height: 6px;
			margin-bottom: 10px;
			padding: 0;
			text-align: left;
			
			.nav__links--products{
				li{
					a{
						color:#555;
					}
				}
			}
			
			.navigation__overflow{
				display:table;
				width:1138px;
				
				.js-offcanvas-links{
					background: #f6f5f3 none repeat scroll 0 0;
					clear: both;
					display: inline-block;
					height: 100%;
					width: 17%;
					z-index:100;
					position:relative;
					
					li{
						font-size: 15px;
						font-weight: normal;
						height: 34px;
						line-height: 35px;
						padding-top: 0;
						position: static;
						
						.js_sub__navigation{
							background: #f6f5f3 none repeat scroll 0 0;
							border-left: 1px solid #d5d5d5;
							border-radius: 0;
							border-top: 0 none;
							box-sizing: border-box;
							height: 100%;
							margin-left: 12.2%;
							margin-top: -2.15%;
							overflow: hidden;
							padding-bottom: 10px;
							position: absolute;
							width: 66%;
							
							.row{
								background: #f6f5f3 none repeat scroll 0 0;
								width: 100%;
							}
						}
					}
				}
			}
		}	
	}

}

main > div{
		height:478px
}

